* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 32px;
  min-height: 100%;
  font-family: "BentonSans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

header {
  background-color: #3b2f63;
  background-image: radial-gradient(
      circle at 50% top,
      rgba(84, 90, 182, 0.6) 0%,
      rgba(84, 90, 182, 0) 75%
    ),
    radial-gradient(circle at right top, #794aa2 0%, rgba(121, 74, 162, 0) 57%);
  background-repeat: no-repeat;
  background-size: 100% 1000px;
  color: #c7b8d8;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wrapper {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.heroku-logo {
  width: 143px;
  height: 40px;
}

.nav-button {
  padding: 10px 0 8px 0;
  color: rgba(242, 238, 255, 0.6);
  font-size: 14px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
}

.nav-more {
  opacity: 0.5;
}

.tools {
  display: flex;
  margin-right: 20px;
  margin-top: 20px;
  gap: 8px;
  align-items: center;
}

.search-wrapper {
  margin-right: 20px;
  background-color: #775ca8;
  border-radius: 4px;
}

#search {
  width: 135px;
  font-size: 14px;
  padding: 7px 0 7px 7px;
  border: 1px solid transparent;
  background: none;
}

#search-img {
  width: 14px;
  height: 14px;
  margin: 0 10px -2px -2px;
}

::-webkit-input-placeholder {
  color: #fff;
  font-size: 14px;
  text-align: center;
}

#log-in {
  background: none;
  border: none;
  color: #bba6c9;
  font-size: 14px;
  line-height: 1.4;
  font-family: "BentonSans", "Helvetica Neue", sans-serif;
}

#or {
  color: #8a69ac;
  font-size: 14px;
}

#sign-up {
  background-color: #5a3c82;
  color: #fffff7;
  padding: 6px 12px;
  border-radius: 4px;
  border: none;
}

.header-container {
  padding: 85px 20px 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "BentonSans", "Helvetica Neue", sans-serif;
  color: #fff;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 1.5px;
  padding: 15px 0 20px 0;
}

.main-description {
  font-weight: 400;
  color: #ccbfdb;
  line-height: 1.2;
  letter-spacing: 1.3px;
}

.divides {
  display: flex;
  background-color: #eef1f6;
  padding: 12.5px 12.5%;
  border-bottom: 3px solid rgba(121, 88, 159, 0);
  gap: 25px;
}

.divides a {
  font-size: 17px;
  line-height: 1.5;
  text-decoration: none;
  color: rgba(121, 88, 159, 0.6);
  display: flex;
  align-items: center;
  gap: 12px;
}

.divides img {
  width: 16px;
  height: 18px;
}

.page-wrapper {
  max-width: 76%;
  margin: auto;
}

.main-title {
  border-bottom: 1px solid #d8dde6;
  padding: 45px 0 10px 0;
  margin-bottom: 30px;
  display: inline-block;
  width: 100%;
  font-size: 17px;
  font-weight: 400;
  color: #3f3f44;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, calc(25% - 5px));
  gap: 5px;
}

.button-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #d8dde6;
  border-radius: 2px;  
}

.button-wrapper {
  padding: 20px;
}

.btn-img-wrapper {
  display: flex;
  gap: 7px;
}

.btn-img-wrapper h4 {
  font-weight: 100;
  font-size: 13px;
  color: #3f3f44;
  margin-bottom: 10px;
  min-height: 24px;
  letter-spacing: 1px;
}

.button-img {
  width: 24px;
  height: 24px;
}

.button-title {
  margin: 10px 0;
  color: #3f3f44;
}

.btn-card-divider {
  height: 0.5px;
  margin: 20px 0px;
  background: linear-gradient(to left, #64438b, #c6ace5);
}

.button-descr {
  font-size: 12px;
  color: #4c4c4c;
  margin-bottom: 0;
}

.button-info {
  background: rgba(242, 242, 245, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  vertical-align: middle;
  margin-top: auto;
}

.button-statistic {
  display: flex;
}

.recent,
.star,
.fork {
  display: flex;
  gap: 4px;
}

.recent img,
.star img,
.fork img {
  width: 12px;
  height: 12px;
}

.recent p,
.star p,
.fork p {
  display: inline-block;
  margin-right: 10px;
  color: #3f3f44;
  font-size: 12px;
  line-height: 12px;
}

.button-info-img {
  width: 14.4px;
  height: 14px;
}
.all-buttons-container {
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 5px));
  gap: 5px;
}